mixin card(card)
        - var fecha = new Date().getFullYear()
         = '\n'
        != "<!-- " + card.title.toUpperCase() + " -->"
        
        .card(class="bg-"+card.type)
            // Title
            .card-title
                p.title-name= card.title
                .atribute(class=card.attribute)

            // Level or Rank
            .content-star(class=card.levelorank)
                - var s = 1;
                    while s <= card.star
                        .star
                        - s++

            // Card image
            .card-image 
                img(src=card.img alt="")

            //Description
            .content-description 
                p=card.clasific
                p.description-text=card.description
            .atk-e-def
                span.atk=card.atk
                span.def=card.def